@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

html, body {
    background-image: url(https://clienttest.themailshark.net/images/page.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #354B85;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    width: 100vw;
}

#container {
    display: flex;
    height: 100%;
    width: 100%;
}

#navbar {
    background-color: rgba(53, 75, 132, 0.9);
    min-width: 70px;
}

#page {
    display:flex;
    flex-direction: column;
    overflow-y:scroll;
    width:100%;
    /* background-color: lightcoral; */
}

#page-left {
    /* background-color:lightcyan; */
    width:100%;
}

#page-right {
    /* background-color:lightgoldenrodyellow; */
    min-width:300px;
}

#page-cart {
    /* display:flex; */
    display:none;
}



#head {
    display:flex;
    flex-direction: row;
    /* background-color: lightgreen; */
    align-items: center;
}

#head > svg {
    margin:0px 15px;
    width:25px;
    fill:#354B85;
}

h2 {
    font-size:16pt;
    font-weight:lighter;

}

#oh {
    color:white;
    padding:3px 20px;
    margin:0px 15px;
    font-size:10pt;
    background-color: #f78d1e;
}

#ha {
    display:flex;
    /* height:40px; */
    justify-content: center;
    background-color: lightblue;
}

.ha-button {
    /* border: solid 1px #354B85;
     */
    /* height:25px; */
    margin:10px;
    font-size:10pt;
    width:200px;
    /* display:flex; */
    /* justify-content: center;
    align-items: center; */
    /* text-align:right; */
    color:#3c8dbc;
    text-decoration: underline;
    /* margin-left:auto; */
}

.cart-section {
    display:flex;
    background-color:white;
    margin:15px 10px;
    align-items: center;
    height:50px;
}

.cart-section:hover {
    cursor:pointer;
    box-shadow:0px 0px 10px -1px rgba(53, 75, 133, 20%);
}

.cart-section > .section-icon {
    margin:0px 10px;
}

.section-item-count {
    font-size:10pt;
    margin:0px 10px;
}

.spanlink {
    font-size:9pt;
    text-decoration: underline;
    color:#3c8dbc;
}

.cart-section > .rotate {
    margin-left:auto;
    padding-right:20px;
}

#na-icon {
    color:crimson;
}


#order-details {
    background-color:white;
    padding:20px;
    margin:15px 10px 10px 10px;
    /* height:300px; */
}

#od-title {
    margin:0px;
}

#od-orders {
    font-size:10pt;
    display:flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #354B85;
    border-radius:5px;
    margin-top:10px;
    height:100px;
}

.od-btn {
    font-size:10pt;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:30px;
    /* background-color: lightblue; */
    border-radius:5px;
    margin:10px 0px;
}

.od-btn:hover {
    cursor:pointer;
    filter:brightness(120%);
}

#od-btn-place {
    background-color:#354B85;
    color:white;
}



.de-emph {
    border: solid 1px #354B85;
}


#hist-container {
    width:100%;
    background-color:white;
    /* height:200px; */
    margin:20px;
    display:flex;
    align-items: center;
    flex-direction: column;
    /* overflow-y:scroll; */
}

#hist-orders-view {
    width:100%;
    margin-bottom:40px;
}

#hist-orders {
    display:flex;
    flex-wrap:wrap;
    width:100%;
    /* justify-content: center; */
    /* transition:.3s; */
    /* background-color:lightcoral; */
}




.order {
    box-shadow:0px 0px 10px -1px rgba(53, 75, 133, 20%);
    display:flex;
    flex-direction:column;
    margin:10px auto;
    width:80%;
    /* max-width:500px; */
    /* padding:10px; */
    border-radius:10px;
    transition:.3s;
}

.order-content {
    display:flex;
    
}


.order-left {
    width:100%;
    /* padding-left:20px; */
    /* padding: 10px 0px 20px 20px; */
    /* padding-left:20px;
    padding-bottom:20px; */
}

.order-right {
    width:200px;
    display:flex;
    align-items: center;
    justify-content: center;
    /* background-color:rgba(0,0,0,.03); */
    /* transition:.3s; */
}

.order-right:hover {
    /* background-color:rgba(0,0,0,.03); */
}

.link {
    text-decoration:underline;
    color:#3c8dbc;
    font-size:10pt;
}

.link:hover {
    cursor:pointer;
}

.prop {
    font-weight:bolder;
    color:#3c8dbc
}

.order-title {
    margin:0px;
    padding:10px 15px;
    background-color:#354B85;
    color:white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.order-date {
    font-size:10pt;
    margin:5px 0px;
}

.order-detail {
    font-size:10pt;
    margin: 9px 15px;
}


.page-content {
    /* overflow-y:scroll; */
}


.view-items {
    margin-left:10px;
    font-size:9pt;
}

.items-details {
    background:linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
    display:none;
    padding:5px 0px;
    /* box-shadow: inset 0px 0px 5px -1px rgb(53 75 133 / 20%);; */
}


.item-container {
    font-size:9pt;
    /* padding-left:15px; */
    display:flex;
    margin:0px;
    padding:6px 15px;
}


.item {
    /* font-weight:bolder; */
    font-size:9pt;
}

.view-item {
    font-size:9pt;
    margin-left:auto;
}


#order_store {
    display:none;
}

#page-hist {
    display:flex;
    /* display:none; */
} 



/* .items {
    display:none;
} */

#page-view {
    /* width:100%; */
    /* margin: 20px;
    height:100px;
    background-color: white; */
}

.go-back {
    display:none;
}



#fo {
    background-color:white;
    position:fixed;
    z-index:2000;
    right:0px;
    width:0px;
    /* width:300px; */
    bottom:0px;
    top:0px;
    box-shadow:0px 0px 10px -1px rgb(53 75 133 / 20%);
    /* border-left: ; */
    overflow-y:auto;
}

#fo-content {
    /* display:none; */
    /* width:400px; */
    /* height:100%; */
}



#fo-details {
    /* margin: 0px 26px; */
    /* background-color:lightcoral; */
    /* height:100%; */
    width:100%;
}

#fo-name {
    width:100%;
    text-align:center;
    font-weight:bolder;
    margin:10px 0px;;
}

.fo-detail {
    margin:5px 30px;
    font-size:11pt;
    display:flex;
}

.fo-val {
    width:100%;
    text-align:right;
}

.fo-stores {
    margin:10px;
    /* background-color: lightcyan; */
    padding:10px;
    border: 1px solid #354B85;
    border-radius:5px;
}

.fo-store {
    margin:5px 0px;
}

.fo-store-title {
    display:flex;
    font-size:9pt;
    margin-bottom:5px;
}

.fo-store-items {
    margin-left:auto;
    font-size:9pt;
    color:#3c8dbc;
    text-decoration: underline;
}

.fo-store-items:hover {
    cursor:pointer;
}


.fo-store-detail {
    display:flex;
    font-size:9pt;
    padding:2px 5px;
}
.fo-store-total-price, .fo-store-due-price {
    margin-left:auto;
}

.dn-title, .dn-price {
    font-weight:bolder;
}

.dn-price {
    color:#3c8dbc
}

.fo-totals-area {
    display:flex;
    font-size:10pt;
    margin:10px 20px;
}

.fo-totals-val {
    margin-left:auto;
}

.fo-b {
    font-weight: bolder;
}

#fo-actions {
    /* background-color:lightgreen; */
    /* margin:5px 30px; */
    width:100%;
    display:flex;
    justify-content: center;
    margin-top:10px;
}


.fo-button {
    border:none;
    color:white;
    background-color: #354B85;
    padding:5px;
    border-radius:5px;
    margin:0px 10px;
    width:100px;
}

.fo-button:hover {
    cursor:pointer;
}

#or-details {
    padding:10px;
}

#fo-img {
    max-width:100px;
    box-shadow:0px 0px 10px -1px rgba(53, 75, 133, 20%);
}

#fo-img:hover {
    cursor:pointer;
}

#fo-thumb {
    margin:15px 0px 5px 0px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.image-links {
    font-size:9pt;
    text-align:center;
}
.image-link {
    margin:0px 5px;
    font-size:9pt;
}
.or-section {
    /* background-color: lightcoral; */
    border:1px solid rgb(53 75 133 / 20%);
    padding:10px;
    border-radius:10px;
    margin-bottom:10px;
}

.or-section-head {
    margin:10px 0px;
    font-weight:bolder;
    font-size:10pt;
}

.or-detail {
    display:flex;
    font-size:9pt;
    margin:5px;
}

.or-detail-val {
    margin-left:auto;
    color:#3c8dbc;
}

.or-b {
    font-weight:bolder;
}

.or-detail-val.or-b {
    text-decoration:underline;
}

.or-sum {
    /* background-color: lightcyan; */
    padding:10px;
    border: solid 1px rgb(53 75 133 / 20%);
    border-radius:5px;
    margin-top:10px;
}

.items-storename {
    margin:3px 5px;
    padding:5px 10px;
    background-color: #354B85;
    color:white;
    border-radius:3px;
    display:flex;
    /* justify-content: center; */
    align-items: center;
    font-size:10pt;
    cursor:pointer;
}

.items-storename:hover {
    filter:brightness(110%);

}


.items-storename > i {
    margin-left:auto;
    margin-right:2px;
}

.items-items {
    /* display:none; */
}

.rotate-90 { 
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }



#hist-head {
    display:flex;
    align-items: center;
    height:50px;
    width:80%;
    margin:18px 80px 0px 80px;
    /* width:80%; */
}

#hist-head-link {
    font-size:15pt;
    font-weight:bold;
    /* padding-left:20px; */
    width:200px;
    /* margin-top:30px; */
}

#sort {
    margin-right:6px;
}

.filter-area {
    width:100%;
    height:25px;
    /* background-color: lightcyan; */
    font-size:8pt;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    color:#3c8dbc;
}

.filter-link {
    font-weight:bolder;
    margin-left:10px;
}

.filter-link:hover {
    cursor:pointer;
    text-decoration:underline;
}


.date-controls {
    display:flex;
    align-items:flex-end;
    justify-content: flex-end;
    
    width:80%;
    /* background-color:lightblue; */
    height:40px;
}

.filter-control {
    margin-left:10px;
    /* width:100px; */
}

.filter-name {
    margin:0px;
    font-size:10pt;
}

.select2-selection__rendered {
    font-size:10pt;
}
.select2-results__option {
    font-size:10pt;
}



#filter-slide {
    /* background-color: lightgreen; */
    width:80%;
    margin:auto;
    /* display:none; */
}

#search-text {
    height:20px;
}

.custom-button {
    height:22px;
    background-color:#f78d1e;
    color:white;
    border:0px;
    border-radius:5px;
    transition:.3s;
    padding-left: 10px; padding-right: 10px;
    margin-left:5px;
}

.custom-button:hover {
    cursor:pointer;
    filter:brightness(110%)
}


#date-sel {
    width:100%;
}

.datedrop-name {
    font-size:10pt;
}

.num-orders {
    font-weight:bolder;
}

.select2-container .select2-selection--single {
    height:22px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height:21px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height:100% !important;
}
.fly-down-dates {
    display:none;
    width:80%;
    padding-top:10px;
}

.custom-date-controls {
    display:flex;
    /* background-color:lightcyan; */
    width:100%;
    justify-content: flex-end;
    
}







/*
    Sidebar
    https://codepen.io/detonationbox0/pen/bGwoBeg
*/
/*#region*/

#store-logo {
    width:50px;
    height:50px;
    background-color: white;
    margin:10px auto;
    border-radius:50%;
    
}

#store-logo > img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: auto;
}

#sidebar {
    background-color:rgba(53, 75, 132, 0.9);
    min-width:70px;
    width:70px;
    height:100vh;
  }
  
  .menu {
    height:50px;
    color:white;
    cursor:pointer;
  }
  
  .menu:hover {
    background-color:rgba(53, 75, 132);
  }
  
  .sbfas {
    position:relative;
    left:25px;
    top:13px;
  }
  
  .menu-items {
    position:relative;
    width:200px;
    left:70px;
    bottom:22px;
    background-color:rgba(53, 75, 132, .9);
    font-size:9pt;
  }
  
  .menu-item {
    display:flex;
    align-items:center;
  /*   justify-content:center; */
    height:50px;
    padding-left:10px;
  }
  
  .hov:hover {
    background-color:white;
    color: rgba(53, 75, 132);
  }
  
  .menu-name {
    background-color:rgba(53, 75, 132);
  }
  
  .far {
    padding:0px 10px;
  }
  /*#endregion*/

